body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  width: 50px;
  height: 60px;
  margin: 0.25em;
  border: solid 3px gray;
}

.keyboard {
  display: flex;
  flex-direction: column;
}

.keyboard-row {
  padding: 0.25em;
}

.keyboard-row:nth-of-type(2) {
  padding: 0.25em 1.5em;
}

.key {
  background-color: #d3d6da;
  border-radius: 4px;
  margin: 4px 6px 0 0;
  height: 58px;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.gray {
  background-color: grey;
}
