@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  src: local('Clear Sans'), url('./fonts/ClearSans/ClearSans-Regular.ttf');
}

body {
  margin: 0;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

header {
  border-bottom: 1px solid #d3d6da;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
}

h1 {
  letter-spacing: 0.2rem;
  font-weight: 700;
  font-size: 36px;
}

.row {
  display: flex;
  justify-content: center;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  width: 50px;
  height: 60px;
  margin: 0.25em;
  border: solid 3px gray;
  font-weight: bold;
}

.keyboard {
  display: flex;
  flex-direction: column;
}

.keyboard-row {
  padding: 0.25em;
}

.keyboard-row:nth-of-type(2) {
  padding: 0.25em 1.5em;
}

.key {
  background-color: #d3d6da;
  border-radius: 4px;
  margin: 4px 6px 0 0;
  height: 58px;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.green {
  background-color: #6aaa64;
  color: #fff;
}

.yellow {
  background-color: #c9b458;
  color: #fff;
}

.gray {
  background-color: #787c7e;
  color: #fff;
}

.green > p {
  color: white;
}
